<nav>
<ul>
    <li><a href="index.html"> Home </a></li>
    <li><a href="scrum.html"> Scrum </a></li>
    <li><a href="kanban.html"> Kanban </a></li>
    <li><a href="lean.html"> Lean </a></li>
</ul>
</nav>