<nav>
<ul>
    <li><a href="/"> Home </a></li>
    <li><a href="/scrum"> Scrum </a></li>
    <li><a href="/kanban"> Kanban </a></li>
    <li><a href="/lean"> Lean </a></li>
    <li><a href="/xp"> Extreme Programming </a></li>
</ul>
</nav>