<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
    <header>
        <h1>Agile Methodologies - Lean</h1>
    </header>
    <hr>
    <%- include('partials/nav.ejs') %>

    <main>
        <article class="lean-overview">
            <h2>Lean Overview</h2>
            <p><a href="https://kanbanzone.com/resources/lean/">Lean Thinking</a>, commonly referred to simply as "Lean", is another methodology born out of the <a href="https://kanbanzone.com/resources/lean/toyota-production-system/">Toyota Production System</a>
            which focuses on continuous improvement and creating effective mindsets for delivering values. Unlike other agile frameworks, Lean can be considered more of a mindset and a way of approaching work rather than a true methodology.</p>
        </article>
        
        <section class="lean-header">
            <h3>Lean Values</h3>
            <p>Lean Thinking is founded on the principles of Continuous Improvement and Respect for People. These two pillars help provide the proper mindset to increase team productivity and deliver higher customer value, faster</p>
            <figure>
                <img src="img/lean_values_800px.png" alt="Lean Values">
                <figcaption>
                    Lean Values by <a href ="https://kanbanzone.com/resources/lean/">Kanban Zone</a>
                </figcaption>
            </figure>
        </section>

        <section class="lean-principles-section">
            <h3>Lean Principles</h3>
            <p>Based on the pillars of Lean Thinking, James P. Womack and Daniel T. Jones of the Lean Enterprise Institute described five key principles, displayed below. These principles form the building blocks for how organizations
                can eliminate wasteful process and only keep process that improves efficiency and effectiveness.
            </p>
            <div class="lean-principles-grid">
                <article class="lean-principles-card"><span>Value</span><p>Understanding that customer satisfaction is paramount and is build-in at every step of the process</p></article>
                <article class="lean-principles-card"><span>Value Stream</span><p>What are the steps required to make the product? What are the steps required to deliver the service?</p></article>
                <article class="lean-principles-card"><span>Flow</span><p>Make the value steps in tight sequence so the product will flow smoothly toward the customer</p></article>
                <article class="lean-principles-card"><span>Pull</span><p>The customer makes the order and you manufacture that product only when ordered</p></article>
                <article class="lean-principles-card"><span>Perfection</span><p>Deliver exactly what the customer wants, when they want it at a minimum price with zero waste</p></article>
            </div>
        </section>
    </main>

    <%-include('partials/footer.ejs') %>
    
</body>
</html>