<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
    <header>
        <h1>Agile Methodologies - Scrum</h1>
    </header>
    <hr>
    <%- include('partials/nav.ejs') %>
    <main>
        <article class="scrum-overview">
            <h2>Scrum Overview</h2>
            <p>Scrum is a presriptive agile framework which advocates for incremental and iterative software development. Most famous for the "sprint" terminology, the principles of scrum advocate for self-organized teams which operate in short iteration cycles.
                Providing timeboxed work cycles enables teams to rapidly respond to feedback through reviewing progress and comparing it to the needs of the software being developed.
            </p>
        </article>

        <section>
            <section class="scrum-header">
                <figure>
                    <img src="https://scrumorg-website-prod.s3.amazonaws.com/drupal/inline-images/2023-09/scrum-framework-9.29.23.png" alt="Scrum framework">
                    <figcaption>
                        Scrum Framework by <a href ="https://www.scrum.org/resources/what-scrum-module">Scrum.org</a>
                    </figcaption>
                </figure>
            </section>
            <h3>Scrum Framework</h3>
            <p>
                While often used interchangeably with the term "Agile", Scrum is actually but one implementation of Agile development! Scrum is among the most prescriptive of the common frameworks and in the strictest sense relies on well-defined events
                (e.g. Sprint Planning, Sprint Retrospectives, etc.) and team composed of:
            </p>
                <ul>
                    <li>A Product Owner</li>
                    <li>A Scrum Master</li>
                    <li>Developers</li>
                </ul>
            <p>Each role has well defined responsibilities and accountabilities within the Scrum team, all intended to help the team collaborate effectively and deliver value.</p>
        </section>
    </main>

    <%-include('partials/footer.ejs') %>
    
</body>
</html>