<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
    <header>
        <h1>Agile Methodologies - Extreme Programming</h1>
    </header>
    <hr>
    <%- include('partials/nav.ejs') %>

    <main>
        <article class="xp-overview">
            <h2>Extreme Programming Overview</h2>
            <p><a href="https://agilealliance.org/glossary/xp/">Extreme programming</a> (aka "XP") is one of the more specific agile frameworks that focuses on the specific actions and practices for software engineers to deliver
                high quality software with highly dynamic and shifting requirements.
            </p>
        </article>

        <section class="xp-header">
                <figure>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Extreme_Programming.svg/1920px-Extreme_Programming.svg.png" alt="Extreme Programming framework">
                    <figcaption>
                        Extreme Programming Framework by <a href ="https://en.wikipedia.org/wiki/Extreme_programming">Wikipedia</a>
                    </figcaption>
                </figure>
        </section>

        <section class="xp-values-section">
            <h3>Extreme Programming Values</h3>
            <p>The extreme programming mindset is built on a foundation of five values which have then been extended into practices that individuals and teams should follow.
            </p>
            <div class="xp-principles-grid">
                <article class="xp-principles-card"><span>Communication</span><p>Software development is inherently a team sport that relies on communication to transfer knowledge from one team member to everyone else on the team</p></article>
                <article class="xp-principles-card"><span>Simplicity</span><p>Simplicity means "what is the simplest thing that will work?"</p></article>
                <article class="xp-principles-card"><span>Feedback</span><p>Through constant feedback about their previous efforts, teams can identify areas for improvement and revise their practices</p></article>
                <article class="xp-principles-card"><span>Courage</span><p>preference for action based on other principles so that the results aren't harmful to the team</p></article>
                <article class="xp-principles-card"><span>Respect</span><p>The members of your team need to respect each other</p></article>
            </div>
        </section>


        <section class="xp-practices-section">
            <h3>Extreme Programming Practices</h3>
            <p>These interconnected development practices are encouraged to be followed whenever possible to reduce risks and improve quality of software development.</p>
            <div class="principles-grid">
                <article class="xp-principles-card"><span>Sit Together</span><p>Have your team sit together in the same space without barriers to communication</p></article>
                <article class="xp-principles-card"><span>Whole Team</span><p>A cross-functional group of people with the necessary roles for a product form a single team</p></article>
                <article class="xp-principles-card"><span>Informative Workspace</span><p>Set up your team space to facilitate face-to-face communication, allow people to have some privacy when they need it, and make the work of the team transparent to each other and to interested parties outside the team</p></article>
                <article class="xp-principles-card"><span>Energized Work</span><p>You are most effective at software development and all knowledge work when you are focused and free from distractions</p></article>
                <article class="xp-principles-card"><span>Pair Programming</span><p>All production software is developed by two people sitting at the same machine</p></article>
                <article class="xp-principles-card"><span>Stories</span><p>Describe what the product should do in terms meaningful to customers and users</p></article>
                <article class="xp-principles-card"><span>Weekly Cycle</span><p>The team meets on the first day of the week to reflect on progress to date, the customer picks the stories they would like delivered in that week, and the team determines how they will approach those stories</p></article>
                <article class="xp-principles-card"><span>Quarterly Cycle</span><p>Keep the detailed work of each weekly cycle in the context of the overall project</p></article>
                <article class="xp-principles-card"><span>Slack</span><p>Add some low-priority tasks or stories in your weekly and quarterly cycles that can be dropped if the team gets behind on more important tasks or stories</p></article>
                <article class="xp-principles-card"><span>Ten-Minute Build</span><p>Automatically build the whole system and run all of the tests in ten minutes</p></article>
                <article class="xp-principles-card"><span>Continuous Integration</span><p>Code changes are immediately tested when they are added to a larger code base</p></article>
                <article class="xp-principles-card"><span>Test-First Programming</span><p>Write failing automated test -> Run failing test -> Develop code to make test pass -> Run test -> Repeat</p></article>
                <article class="xp-principles-card"><span>Incremental Design</span><p>Do a little bit of work upfront to understand the proper breadth-wise perspective of the system design, and then dive into the details of a particular aspect of that design when you deliver specific features</p></article>
            </div>
        </section>


    </main>


    <%-include('partials/footer.ejs') %>
    
</body>
</html>