<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
    <header>
        <h1>Agile Methodologies - Extreme Programming</h1>
    </header>
    <hr>
    <%- include('partials/nav.ejs') %>

        <main>
        <article class="xp-overview">
        <h2>Extreme Programming Overview</h2>
        <p>Placeholder for summary of what extreme programming is
        </p>
        </article>

        <section>
            <section class="xp-header">
                <figure>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Extreme_Programming.svg/1920px-Extreme_Programming.svg.png" alt="Extreme Programming framework">
                    <figcaption>
                        Extreme Programming Framework by <a href ="https://en.wikipedia.org/wiki/Extreme_programming">Wikipedia</a>
                    </figcaption>
                </figure>
            </section>
            <h3>Extreme Programming Framework</h3>
            <p>
                Placeholder list of XP ideas
            </p>
                <ul>
                    <li>Code Review</li>
                    <li>Testing</li>
                    <li>Incremental Development</li>
                    <li>Simplicity</li>
                    <li>Design</li>
                    <li>Integration Testing</li>
                </ul>
            <p>Conclusion</p>
        </section>
        </main>


    <%-include('partials/footer.ejs') %>
    
</body>
</html>